.header{
    background-color: black;
    height: 5rem;
    justify-content: center;
    display: flex;
}
.auth-span{
    font-size: 1em;
    color: white;
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}